._card1{
    border-radius: 3%;
    background-color: #403D56;
}
._txtcard1,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}
._contcali{
    border-radius:10px;
    background-color: #F97B26;
}