.card, .card-body{
    height: 200px;
    padding: 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(90deg, #ff8c54 0%, #F7CE68 100%);
}
.card-img-absolute{
    height: 250px;
    margin-top: -10px;
    margin-right: -10px;
}
.col-right{
    width: 100%;
}
.container-general-chart{
    overflow: hidden;
}

@media (max-width:760px){
    .card{
       margin: 5px;
    }
}