.conten-recovery{
    width          : 100%;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background-color: #ececefc7;
}
.auth-form{
    width     : 28%;
    height    : 500px;
    padding   : 20px;
    border-radius: 5px;
    background: #FFF;
}

/* estilos responsivos */
@media (max-width:760px){
    .auth-form{
        width     : 90%;
    }
}