.list-car{
    display: flex;
    justify-content: center;
    align-content: space-between;
    background: rgb(226, 223, 223);
    border-radius: 5px;
    margin-bottom: 4px;
}
.content-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-owner{
    margin-top: 3px;
    height: 44px;
}
.invalid{
    border: 2px solid #F44336;
}
.valid{
    border: none;
}
.message-invalid{
    margin-top: 10px;
    font-size: 11px;
    color    : #F44336;
}
.mat-card{
    width: 100%;
    height: 455px;
}
.title-upload{
    font-size: 13px;
}
.progres-bar{
    border-radius: 15px 15px  0px 0px;
}