.panel-container{
    height: 100vh;
    background-color: #fafafa;
}
.panel-sidenav{
    width: 260px;
}
mat-drawer-content {
    padding       : 12px;
    display       : flex;
    height        : 100vh;
}
.mode-phone{
    display: block;
}
.mode-desktop{
    display: none;
}
.img-user-nav{
    border-radius: 50%;
    height       : 30px;
    width        : 30px;
}
.btn-nav-img{
    border-radius: 30px;
}
.list-img{
    font-size: 18px;
}
.navbar-custom{
    background:#3F3F3F;
}

@media (max-width:760px) {
    .mode-phone{
        display: none;
    }
    .mode-desktop{
        display: block;
    }
    
}