<div class="container-fluid mt-4 contend-card">
  <mat-card [ngStyle]="{'background': _theme._box}">
    <mat-card-header class="c-icon">
      <mat-card-title>Usuarios desactivados</mat-card-title>
      <mat-card-subtitle><span class="badge-e">desactivados</span></mat-card-subtitle>
    </mat-card-header>
    <table class="table table-striped">
      <thead class="c-icon">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Photo</th>
          <th scope="col">Nombres y apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Rol usuario</th>
          <th scope="col">Estado</th>
          <th scope="col">Restaurar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of _db.listUsersdisable | slice:desde:hasta; let i=index" [ngStyle]="{'color': _theme._color}">
          <th >{{i+1}}</th>
          <td><img class="default-user" [src]="data.URL_photo" alt=""></td>
          <td>{{data.firts_name}} {{data.father_last_name}} {{data.mother_last_name}}</td>
          <td>{{data.user}}</td>
          <td>{{data.type_profile}}</td>
          <td><span class="badge-e">Desactivado</span></td>
          <td><button mat-raised-button color="primary" (click)="desactivateUser(data.id,data.status)"><span class="material-icons">check</span> Restaurar</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="_db.listUsersdisable.length==0 && !_db.loadGetDisable">
      <app-message message="No se encontraron usuarios desactivados" 
                     subMessage="Recuerde que los usuarios desactivados no participan en el programa">
      </app-message>
    </div>
    <div *ngIf="_db.loadGetDisable" class="text-center mt-4">
      <div class="spinner-border text-secondary" role="status"></div>
      <div>Cargando...</div>
    </div>
    <mat-paginator [length]="_db.listUsers.length" 
                   [pageSize]="8" 
                   (page)="pageEvent($event)"
                   [ngStyle]="{'background': _theme._box}"> </mat-paginator>
  </mat-card>
</div>