<div class="mt-4">
</div>
<mat-card class="m-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Photo</th>
        <th scope="col">Nombres y apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Rol usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of _db.listUsers | slice:desde:hasta; let i=index">
        <th >{{i+1}}</th>
        <td><img class="default-user" [src]="data.URL_photo" alt=""></td>
        <td>{{data.firts_name}} {{data.father_last_name}} {{data.mother_last_name}}</td>
        <td>{{data.user}}</td>
        <td>{{data.type_profile}}</td>
        <td><span class="badge-b">Activo</span></td>
        <td>
            <button mat-raised-button [routerLink]="['../edit-user',data.id]">
              <span class="material-icons">edit</span> Editar
            </button>
        </td>
        <td>
          <button mat-raised-button color="warn" (click)="desactivateUser(data.id,data.status)">
            <span class="material-icons">delete</span> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="_db.listUsers.length==0 && !_db.loadGet">
    <div class="alert alert-info" role="alert">
      <span class="material-icons">folder</span> Lista de usuarios vacia
    </div>
  </div>
  <div *ngIf="_db.loadGet" class="text-center mt-4">
    <div class="spinner-border text-secondary" role="status"></div>
    <div>Cargando...</div>
  </div>
  <mat-paginator [length]="_db.listUsers.length" [pageSize]="8" (page)="pageEvent($event)"> </mat-paginator>
</mat-card>