<mat-card class="m-1">
  <div class="table-responsive mt-4 animate__animated animate__fadeIn">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nro</th>
          <th scope="col" class="text-center">RUC</th>
          <th scope="col" class="text-center">Razón social</th>
          <th scope="col" class="text-center">Dirección de la empresa</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Desactivar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of _db.listEnterpiseDes | slice:desde:hasta; let i=index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{data.ruc}}</td>
          <td class="text-center">{{data.razonSocial | slice:0:45}}..</td>
          <td class="text-center">{{data.direccion | slice:0:50}}..</td>
          <td class="text-center"><span class="badge-e">{{data.estado | lowercase}}</span></td>
          <td class="text-center">
            <button mat-raised-button type="button" class="button-search" (click)="activateEnterprise(data.id,'ACTIVO')">
              <span class="material-icons">done</span> Activar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="_db.listEnterpiseDes.length==0 && !_db.loadDesacEnter">
      <div class="alert" role="alert">
        <span class="material-icons">folder</span> Lista de empresas desactivadas vacia
      </div>
    </div>
    <div *ngIf="_db.loadDesacEnter" class="text-center mt-4">
      <div class="spinner-border text-secondary" role="status"></div>
      <div>Cargando...</div>
    </div>
  </div>
  <mat-paginator [length]="_db.listEnterpiseDes.length" [pageSize]="9" (page)="pageEvent($event)"></mat-paginator>
</mat-card>