<section id="empresas">
    <div class="container mt-5">
        <h2 class="text-center "><u>Ranking Conductores</u></h2>
    </div>
    <div class="container mt-3">
        <div id="carouselExampleControls" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active"> 
                    <div class="row">
                        <div class="col-md">
                            <div class="card border card-main">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight mt-5">
                                    <div class=" square-valoration mx-auto my-auto text-center">
                                        <p class="text-dark fs-5 pt-1">22</p>
                                        <star-rating 
                                                     [value]="3" 
                                                     [totalstars]="5" 
                                                     checkedcolor="black" 
                                                     uncheckedcolor="gray" 
                                                     [readonly]="true" 
                                                     size="24px">
                                        </star-rating>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <h3 class="card-title"> <strong>Irineo Rojas Carrasco</strong></h3>
                                    <p class="card-text justify-content">Empresa de Transportes Cristo Morado Andahuaylas S.A</p>
                                    <!-- <span *ngIf="mostrar1"> especializada en transporte interdistrital. Fue creada y fundada el 09/01/2013, registrada dentro de las sociedades mercantiles y comerciales como una Sociedad Anónima.</span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar1 =! mostrar1"> {{mostrar1? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card border card-main">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight mt-5">
                                    <div class=" square-valoration mx-auto my-auto text-center">
                                        <p class="text-dark fs-5 pt-1">23</p>
                                        <star-rating 
                                                     [value]="3" 
                                                     [totalstars]="5" 
                                                     checkedcolor="black" 
                                                     uncheckedcolor="gray" 
                                                     [readonly]="true" 
                                                     size="24px">
                                        </star-rating>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"><strong>Jose Rojas Cusi</strong></h3>
                                    <p class="card-text justify-content">Empresa de Transportes José María Arguedas S.A.C</p>
                                    <!-- <span *ngIf="mostrar2">Somos una empresa transporte de pasajeros interdistrital con ruta de Talavera, Andahuaylas, San Jerónimo y viceversa. Fue fundada el 24 de mayo del 2010 </span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar2 =! mostrar2"> {{mostrar2? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card border card-main">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight text-center mt-5">
                                    <div class=" square-valoration mx-auto my-auto">
                                        <p class="text-dark fs-5 pt-1">24</p>
                                       <star-rating 
                                                    [value]="3" 
                                                    [totalstars]="5" 
                                                    checkedcolor="black" 
                                                    uncheckedcolor="gray" 
                                                    [readonly]="true" 
                                                    size="24px">
                                        </star-rating>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"> <strong>Emerson Loa Navarro</strong></h3>
                                    <p class="card-text justify-content">Empresa de Transportes Aguilas del sur de america S.A.C</p>
                                    <!-- <span *ngIf="mostrar3">Brinda transporte interdistrital de pasajeros. Fue creada el 18/03/2011</span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar3 =! mostrar3"> {{mostrar3? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md">
                            <div class="card border border-warning card-main">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight mt-5">
                                    <div class=" square-valoration mx-auto my-auto text-center" style="width: 30%;">
                                        <p class="text-dark fs-5 pt-1">34</p>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i> 
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"> <strong>Jesus Osorio Romero</strong></h3>
                                    <p class="card-text justify-content">Empresa de Transportes El Rápido S.R.L</p>
                                    <!-- <span *ngIf="mostrar4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repudiandae cupiditate saepe illo recusandae sint asperiores debitis vero eum amet ut neque commodi, ea quibusdam porro veritatis, possimus iusto voluptatibus?
                                    Deserunt exercitationem voluptates id mollitia fugit accusamus repudiandae perspiciatis. Corporis veritatis asperiores quaerat dolore, doloremmagnam officia aspernatur temporibus possimus aperiam neque, aliquid voluptatum quod laborum deserunt animi soluta tempore.
                                    Officia provident minus laudantium possimus facere quia dolorum vitae beatae assumenda, voluptates placeat, cupiditate architecto, adipiscinumquam consectetur quasi laborum ipsam maiores modi incidunt corporis. Doloribus accusantium voluptatibus rem voluptas.
                                    Optio, esse vel velit dolore nam consectetur amet deserunt odit assumenda sit ad sint quae minus cum nemo temporibus facere fugiat voluptatemsoluta nobis cumque. Consequuntur facere in a rerum?
                                    Itaque quas nulla modi quis perferendis provident temporibus voluptatibus magnam earum, repellat error molestias libero aspernatur. Excepturidolorum quaerat voluptate aspernatur error unde porro repellat, saepe, ipsam distinctio velit ex?</span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar4 =! mostrar4"> {{mostrar4? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card border border-warning">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight mt-5">
                                    <div class=" square-valoration mx-auto my-auto text-center " style="width: 30%;">
                                        <p class="text-dark fs-5 pt-1">56</p>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"> <strong> Julio Ramirez Casas</strong></h3>
                                    <p class="card-text justify-content">Empresa de Transportes Continental SAC</p>
                                    <!-- <span *ngIf="mostrar5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repudiandae cupiditate saepe illo recusandae sint asperiores debitis vero eum amet ut neque commodi, ea quibusdam porro veritatis, possimus iusto voluptatibus?
                                    Deserunt exercitationem voluptates id mollitia fugit accusamus repudiandae perspiciatis. Corporis veritatis asperiores quaerat dolore, doloremmagnam officia aspernatur temporibus possimus aperiam neque, aliquid voluptatum quod laborum deserunt animi soluta tempore.
                                    Officia provident minus laudantium possimus facere quia dolorum vitae beatae assumenda, voluptates placeat, cupiditate architecto, adipiscinumquam consectetur quasi laborum ipsam maiores modi incidunt corporis. Doloribus accusantium voluptatibus rem voluptas.
                                    Optio, esse vel velit dolore nam consectetur amet deserunt odit assumenda sit ad sint quae minus cum nemo temporibus facere fugiat voluptatemsoluta nobis cumque. Consequuntur facere in a rerum?
                                    Itaque quas nulla modi quis perferendis provident temporibus voluptatibus magnam earum, repellat error molestias libero aspernatur. Excepturidolorum quaerat voluptate aspernatur error unde porro repellat, saepe, ipsam distinctio velit ex?</span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar5 =! mostrar5"> {{mostrar5? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card border border-warning">
                                <img src="../../../assets/img/Portada/combi3.png" class="card-img-top" alt="...">
                                <div class="d-inline-flex bd-highlight mt-5">
                                    <div class=" square-valoration mx-auto my-auto text-center" style="width: 30%;">
                                        <p class="text-dark fs-5 pt-1">23</p>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"> <strong>Robert Machaca Lopez</strong></h3>
                                    <p class="card-text justify-content">Empresas de Transportes Rios Profundos S.R.L</p>
                                    <!-- <span *ngIf="mostrar6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repudiandae cupiditate saepe illo recusandae sint asperiores debitis vero eum amet ut neque commodi, ea quibusdam porro veritatis, possimus iusto voluptatibus?
                                    Deserunt exercitationem voluptates id mollitia fugit accusamus repudiandae perspiciatis. Corporis veritatis asperiores quaerat dolore, doloremmagnam officia aspernatur temporibus possimus aperiam neque, aliquid voluptatum quod laborum deserunt animi soluta tempore.
                                    Officia provident minus laudantium possimus facere quia dolorum vitae beatae assumenda, voluptates placeat, cupiditate architecto, adipiscinumquam consectetur quasi laborum ipsam maiores modi incidunt corporis. Doloribus accusantium voluptatibus rem voluptas.
                                    Optio, esse vel velit dolore nam consectetur amet deserunt odit assumenda sit ad sint quae minus cum nemo temporibus facere fugiat voluptatemsoluta nobis cumque. Consequuntur facere in a rerum?
                                    Itaque quas nulla modi quis perferendis provident temporibus voluptatibus magnam earum, repellat error molestias libero aspernatur. Excepturidolorum quaerat voluptate aspernatur error unde porro repellat, saepe, ipsam distinctio velit ex?</span> </p>
                                    <button class="btn btn-warning align-item-center" (click)="mostrar6 =! mostrar6"> {{mostrar6? 'Ocultar':'Leer más'}} </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev my-auto" style="height: 10%; width:4%" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon control btn-next" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next my-auto" style="height: 10%; width:4%" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon control btn-next" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
