<div class="container-fluid">
    <mat-tab-group mat-align-tabs="left" animationDuration="0ms">

        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="m-tab-icon"><span class="material-icons">format_list_numbered</span></mat-icon>
             Lista empresas
            </ng-template>
            <app-list-enterprice></app-list-enterprice>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="m-tab-icon"><span class="material-icons">business</span></mat-icon>
             Registro empresa
            </ng-template>
            <app-register-enterprice></app-register-enterprice>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
            <mat-icon class="m-tab-icon"><span class="material-icons">cancel_presentation</span></mat-icon>
             Empresas desactivadas
            </ng-template>
            <app-desactivate-enterprice></app-desactivate-enterprice>
        </mat-tab>
        
    </mat-tab-group>
</div>