<div class="mt-2  mb-2">
    <span [ngStyle]="{'color': _theme._color}" class="material-icons c-icon">title</span> 
    <span [ngStyle]="{'color': _theme._color}" class="c-icon fs-5">Añade una descripción a la portada </span>
    <button mat-button 
            class="c-icon"
            matTooltip="Agregar una descripción para la portada"
            matTooltipPosition="below"
            (click)="portDescrip()" 
            *ngIf="_db.listCoverPage.length < 9; else info">
        <mat-icon><span [ngStyle]="{'color': _theme._color}" class="material-icons">add</span></mat-icon> 
        <span [ngStyle]="{'color': _theme._color}">nuevo</span> 
    </button>
    <ng-template #info>
        <span class="h6 badge-b">Como máximo se permite solo 9 descripciones</span>
    </ng-template>
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let data of _db.listCoverPage">
        <mat-card class="descript-card mb-2">
            <mat-card-header class="d-flex justify-content-between">
                <mat-card-title>Descripción</mat-card-title>
                <p><span class="badge-b">{{data.dateDescription | date }}</span></p>
            </mat-card-header>
            <mat-card-content>
              <h3><b>{{data.title}}</b></h3>
              <div class="container-desc">
                <p> {{data.description}}</p>
              </div>
            </mat-card-content>
            <div class="stick-top">
                <button mat-button (click)="editDescription(data)"><span class="material-icons">edit</span> Editar</button>
                <button mat-button  (click)="deleteDescript(data)"><span class="material-icons">delete</span> Eliminar</button>
            </div>
        </mat-card>
    </div>
    <div *ngIf="_db.listCoverPage.length==0 && !_db.loadGetdescript">
        <app-message message="No se encontraron descripciones registradas" 
                 subMessage="Registre una nueva descripción para mostrarlos y administralos en esta sección">
        </app-message>
    </div>
</div>

<h2 class="mt-3 c-icon"><span [ngStyle]="{'color': _theme._color}" class="material-icons">layers</span> 
    <span [ngStyle]="{'color': _theme._color}">Añade post a tu portada</span> 
    <button mat-button 
            matTooltip="Agregar una imagen svg para la portada"
            matTooltipPosition="below"
            (click)="post()"><span [ngStyle]="{'color': _theme._color}" class="material-icons">add</span> 
    <span [ngStyle]="{'color': _theme._color}">nuevo</span>
    </button>
</h2>

<div class="row animate__animated animate__fadeIn">
    <div class="col-md-4 mb-3" *ngFor="let post of _db.listpost">
        <mat-card class="card-post" [routerLink]="[ '../view-post', post.id ]" [ngStyle]="{'background': _theme._box}">
            <img class="img-post" [src]="post.url" alt="">
        </mat-card>
    </div>
</div>
<div *ngIf="_db.listpost.length==0 && !_db.loadGetpost">
    <app-message message="No se encontraron posts registrados" 
                 subMessage="Registre un nuevo post para mostrarlos y administralos en esta sección">
    </app-message>
</div>