<div class="container-fluid mt-4 container-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Transportistas registrados</mat-card-title>
      <mat-card-subtitle><span class="badge-s">Activos</span></mat-card-subtitle>
    </mat-card-header>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="legacy">
          <mat-label>Empresa de transporte</mat-label>
          <mat-select>
            <div *ngFor="let enterprise of _db.listEnterpise">
              <mat-option [value]="enterprise.id">{{enterprise.razonSocial}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Buscar</mat-label>
          <mat-icon matSuffix><i class="fas fa-search"></i></mat-icon>
          <input type="text" matInput autocomplete="off">
          <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-12">
          <div class="table-responsive mt-2">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">DNI propietario</th>
                    <th scope="col">Nombres y apellidos</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Más</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Desactivar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of _trans.listCarriers | slice:desde:hasta; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.ID_card}}</td>
                    <td (click)="previewOwner(data)" class="cursor">
                      {{data.firts_name}} {{data.father_last_name}} {{data.mother_last_name}}
                    </td>
                    <td><span class="badge-b">activo</span></td>
                    <td><a [routerLink]="[ '../owner-car', data.id ]" class="link-success">ver más</a></td>
                    <td>
                        <button mat-raised-button type="button" color="primary" [routerLink]="[ '../edit-carriers', data.id]">
                            <span class="material-icons">edit</span> Editar
                        </button>
                    </td>
                    <td><button mat-raised-button type="button" class="button-search" color="warn">Desactivar</button></td>
                  </tr>
                </tbody>
            </table>
                <div *ngIf="_trans.listCarriers.length==0 && !_trans.loadGetcarriers">
                  <div class="alert" role="alert">
                    <span class="material-icons">folder</span> Lista de transportistas vacia
                  </div>
                </div>
                <div *ngIf="_trans.loadGetcarriers" class="text-center mt-4">
                  <div class="spinner-border text-secondary" role="status"></div>
                  <div>Cargando...</div>
                </div>
          </div>
          <mat-paginator [length]="_trans.listCarriers.length" [pageSize]="9" (page)="pageEvent($event)"> </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
