.cabecera{
    height: 94vh;
    background:linear-gradient(to right,#e43434,#f56036);
}
.header-content-left h1, p{
    color: white;
}
.conten-description{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-post{
    height: 500px;
    width: 100%;
    overflow: hidden;
}
.img-post{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
@media (max-width:760px){
    .conten-description{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title-d{
        font-size: 28px;
    }
    .content-post{
        height: 400px;
        margin-top: 10px;
    }
}