<header class="mt-5 cabecera d-flex justify-content-center align-items-center">
    <div class="container-fluid mt-3">
        <div class="row mt-5">
            <div class="container-fluid col-md-6 d-flex align-items-center">
                <div class="header-content-left mx-auto" *ngIf="!_db.loadGetdescript">
                    <div class="conten-description">
                      <div *ngIf="vista" class="p-4 animate__animated animate__fadeInDown">
                        <div class="d-flex justify-content-sm-center">
                          <h1 class="display-4 fs-1">
                            <span class="mx-auto description" 
                                  *ngIf="Description.title">{{Description.title}}</span>
                          </h1>
                        </div>
                        <div class="d-flex justify-content-sm-center">
                          <p class="fs-5 mx-auto description" 
                             *ngIf="Description.description">{{Description.description}}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid col-md-6">
              <div class="content-post">
                  <div *ngIf="this._db.listpost.length>0">
                    <div *ngIf="vistaPost">
                      <div class="content-post animate__animated animate__zoomIn" [ngStyle]="{'background-image':'url('+img+')'}"></div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</header>

