.img-user-profile{
    margin-top: 15px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.img-car{
    height: 200px;
    width: 300px;
}
.car-card{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.header-image{
    background-size: cover;
    height: 50px;
}