
<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <button mat-icon-button routerLink="../../carriers">
        <mat-icon><span class="material-icons">west</span></mat-icon>
      </button>
    </div>
    <mat-card-title>Lista de Vehículos registrados</mat-card-title>
    <mat-card-subtitle><span class="badge-s">Registrados {{listCars.length}} </span></mat-card-subtitle>
  </mat-card-header>
  <div class="row">
    <div class="col-md-3 mb-1" *ngIf="owner!=null">
      <mat-card class="mat-card card-preview animate__animated animate__fadeInLeft">
        <mat-card-header>
          <mat-card-title>Propietario</mat-card-title>
          <mat-card-subtitle>Información</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="center"><img class="img-user-profile" [src]="owner.URL_photo | img" alt="" srcset=""></div>
          <mat-card-subtitle>Nombres</mat-card-subtitle>
          <h3 class="text-center">{{owner.firts_name}} {{owner.father_last_name}} {{owner.mother_last_name}}</h3>
          <mat-card-subtitle>Información de contacto</mat-card-subtitle>
          <h3 class="text-center">{{owner.email}}</h3>
          <mat-card-subtitle>Celular</mat-card-subtitle>
          <h3 class="text-center">{{owner.celphone}}</h3>
          <mat-card-subtitle>Cantidad de vehículos: {{listCars.length}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-9 animate__animated animate__fadeIn" *ngIf="owner!=null">
        <div class="row">
            <div class="col-md-6 mb-4" *ngFor="let car of listCars; let i=index">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-7">
                      <h5 class="card-title">
                        <img class="header-image" src="../../../assets/img/muni.png" alt="">
                        <b class="m-1 title-muni">Municipalidad de Andahuaylas</b>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">Vehículo {{i+1}}</h6>
                      <p class="card-text">
                        <b>Placa: </b> {{car.placa}} <br>
                        <b>Modelo:</b> {{car.modelo}} <br>
                        <b>Serie:</b> {{car.serie}}
                      </p>
                      <button mat-raised-button>ver más</button>
                      <button mat-raised-button class="m-1">Editar</button>
                    </div>
                    <div class="col-md-5 text-center">
                      <a [routerLink]="[ '/conductor', owner.id, car.id ]" target="_blank">Esto va esta en el QR</a>
                      <qrcode [qrdata]="'http://localhost:4200/conductor/{{owner.id}}/{{car.id}}'" [width]="180" [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="listCars.length==0 && !loadCars">
              <div class="alert" role="alert">
                <span class="material-icons">folder</span> Lista de transportistas vacia
              </div>
            </div>
            <div *ngIf="loadCars" class="text-center mt-4">
              <div class="spinner-grow" role="status"></div>
              <div>Cargando...</div>
            </div>
        </div> 
    </div>
  </div>
</mat-card>
