#item-nav a{
    color: white;
}
.nav-item{
    font-size: 18px;
    font-family: 'K2D', sans-serif;
}
#item-navbar a{
    color: white;
}
.btn-nav{
    width: 10%;
}
.navbar{
    background:linear-gradient(to right,#e43434,#f56036);
}

#navbarNav a:hover{
    color:rgb(41, 41, 41);
}
.border-b{
    animation: 0.5s;
    box-shadow: 2px 11px 12px -7px rgba(0,0,0,0.59);
    -webkit-box-shadow: 2px 11px 12px -7px rgba(0,0,0,0.59);
    -moz-box-shadow: 2px 11px 12px -7px rgba(0,0,0,0.59);
}
.border-none{
    animation: 0.5s;
    box-shadow: none;
}