<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg fixed-top border-bottom " id="navegacion">
    <div class="container-fluid" id="item-navbar">
        <a class="navbar-brand fs-5" href="#">
          <img src="../../../assets/img/muni.png" alt="Car" height="38" class="ms-4">  CarSoft
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons" style="color:black">reorder</span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto" id="item-nav">
                <li class="nav-item me-3">
                    <a class="nav-link active fs-6" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fs-6" href="#empresas">Conductores</a>
                </li>
                <li class="nav-item me-5 mx-1">
                    <a class="nav-link fs-6" href="#footer">Nosotros</a>
                </li>
            </ul>
            <button mat-icon-button routerLink="/login" class="me-4">
                <mat-icon><i class="material-icons fs-2" style="color:white"><a>account_circle</a></i></mat-icon>
            </button>
        </div>
    </div>
</nav>