.img-user-sidebar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.user-manager{
    font-size: 13px;
    color: gray;
}
.item-menu{
    margin-top     : 12px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 200px;
}
.user-name{
    font-size: 13px;
}

.menu-active{
    background: linear-gradient(to right, #C5C5C5, #AEAEAE);
    border-radius   : 5px;
}