<div class="container-fluid mt-4 content-card">
    <mat-card [ngStyle]="{'background': _theme._box}">
      <mat-card-header class="c-icon">
        <mat-card-title [ngStyle]="{'color': _theme._color}" >Tarjetas generadas</mat-card-title>
        <mat-card-subtitle><span class="badge-s">2 Tarjetas por vehículo</span></mat-card-subtitle>
      </mat-card-header>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Empresa de transporte</mat-label>
            <mat-select [(ngModel)]="entreprise" (ngModelChange)="search(entreprise)">
              <div *ngFor="let enterprise of _db.listEnterpise">
                <mat-option [value]="enterprise.id">{{enterprise.razonSocial}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Buscar por placa de vehículo</mat-label>
            <mat-icon matSuffix><i class="fas fa-search"></i></mat-icon>
            <input type="text" matInput autocomplete="off" [(ngModel)]="value">
            <mat-icon matSuffix><span class="material-icons">search</span></mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button mat-mini-fab color="primary"
                  [useExistingCss]="true"
                  printSectionId="list"
                  ngxPrint>
                  <span class="material-icons">print</span>
          </button>
        </div>
      </div>
      <div class="m-2" id="list">
        <div class="row" *ngFor="let car of _trans.listcars | enterpriseCar:this.entreprise | buscarCar:this.value; let i=index">
          <div class="col-sm-6 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-7">
                    <img class="header-image" src="../../../assets/img/muni.png" alt="" srcset="">
                    <b class="m-1">Municipalidad de Andahuaylas</b>
                    <p class="mt-2">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dignissimos earum libero ipsum ad magni in laudantium labore est 
                    </p>
                    <div class="d-flex align-items-center">
                      <span class="material-icons">directions_car</span> {{car.placa}}
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="text-center"><b>QR - {{i+1}}</b></div>
                    <div class="text-center">
                      <qrcode elementType="img" [qrdata]="car.link" [width]="178" [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-7">
                    <img class="header-image" src="../../../assets/img/muni.png" alt="" srcset="">
                    <b class="m-1">Municipalidad de Andahuaylas</b>
                    <p class="mt-2">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dignissimos earum libero ipsum ad magni in laudantium labore est 
                    </p>
                    <div class="d-flex align-items-center">
                      <span class="material-icons">directions_car</span> {{car.placa}}
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="text-center"><b>QR - {{i+1}}</b></div>
                    <div class="text-center">
                      <qrcode elementType="img" [qrdata]="car.link" [width]="178" [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
</div>
  