
<nav class="navbar navbar-custom  fixed-top" [ngClass]="{'custom-scroll':moveScroll,'navbar-custom':moveScroll}">
  <div class="container-fluid">
    <div>
      <img class="img-logo" src="../../../assets/img/muni.png" alt="" srcset="">
      <a class="navbar-brand m-1">Municipalidad provincial de Andahuaylas</a>
    </div>
    <div *ngIf="common">

      <img [matMenuTriggerFor]="menu" class="user-img cursor" [src]="common.photoURL" [alt]="common.displayName">
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="googleSesion()">
          <mat-icon>change_circle</mat-icon>
          <span>Cambiar cuenta</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>

<div class="container container-profile">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <mat-card *ngIf="owner" class="mt-4 card-preview animate__animated animate__fadeInLeft">
            <mat-card-header>
              <mat-card-title><b>Información</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-4">
                  <div class="center"><img class="img-profile" [src]="owner.URL_photo" alt="" srcset=""></div>
                </div>
                <div class="col-md-8">
                  <h2 class="name-driver">
                    <b>{{owner.firts_name}} {{owner.father_last_name}} {{owner.mother_last_name}}</b>
                  </h2>
                  <div class="row">
                    <mat-card-subtitle>Información vehicular</mat-card-subtitle>
                    <div class="col-md-6 d-flex">
                      <span class="material-icons">business</span> <p class="info"><b>Cristo Morado</b></p>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex">
                          <star-rating 
                                      [value]="3" 
                                      [totalstars]="5" 
                                      checkedcolor="black" 
                                      uncheckedcolor="gray" 
                                      [readonly]="true" 
                                      size="20px">
                        </star-rating>
                        <p class="material-icons">person</p>
                        <p class="text-dark">22</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 d-flex">
                      <span class="material-icons">directions_car_filled</span> 
                      <p class="info" *ngIf="_trans.car"><b>{{_trans.car.placa}}</b></p>
                    </div>
                    <div class="col-md-6"></div>
                  </div>    
                </div>
              </div>
              <!-- <mat-divider class="mt-3"></mat-divider> -->
              <!-- <div class="d-flex justify-content-center align-item-center">
                <img src="../../../assets/img/Portada/combi4.png" class="d-block w-100 img-view" alt="...">
              </div> -->
              <div class="row mt-4">
                <mat-card-header>
                  <mat-card-title><b>Reseña</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-4">
                      <h1 class="text-center">3</h1>
                      <star-rating class="text-center"
                                  [value]="3" 
                                  [totalstars]="5" 
                                  checkedcolor="black" 
                                  uncheckedcolor="gray" 
                                  [readonly]="true" 
                                  size="24px">
                      </star-rating>
                    </div>
                    <div class="col-md-8">
                      <div class="content-chart">
                        <ngx-charts-bar-horizontal
                            [scheme]="colorScheme"
                            [results]="results"
                            [gradient]="gradient"
                            [yAxis]="showYAxis"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            (select)="onSelect($event)">
                        </ngx-charts-bar-horizontal>
                    </div>
                    </div>
                  </div>
                </mat-card-content>
              </div>
              <div *ngIf="!existUser; else form" class="text-center">
                <p class="m-2">Inicio sesión para comentar </p>
                <div class="text-center mb-2">
                  <button mat-raised-button (click)="googleSesion()">
                    <img class="svg-google" src="../../../assets/img/svg/google.svg" alt="" srcset=""> google
                  </button>
                </div>
              </div>
              <ng-template #form>
                <div class="text-center">
                  <button mat-raised-button (click)="openComment()" class="mb-3">
                    <span class="material-icons">edit</span> Añadir comentario
                  </button>
                </div>
              </ng-template>
              <div *ngIf="_trans.car">
                <div class="comment-people" *ngFor="let data of _trans.car.valoration; let i=index">
                  <div class="container-fluid d-flex justify-content-between centent-user-comment">
                    <div class="d-flex justify-content-between">
                      <div>
                        <ngx-avatar [name]="data.userName" [src]="data.photo" size="50"></ngx-avatar>
                      </div>
                      <div class="d-flex justify-content-center align-content-center flex-column">
                        <p class="autor"><b>{{data.userName}}</b></p>
                        <div class="content-star">
                          <star-rating class="calificado" 
                                      [value]="data.valoration" 
                                      [totalstars]="5" 
                                      checkedcolor="black" 
                                      uncheckedcolor="gray" 
                                      [readonly]="true" 
                                      size="15px">
                          </star-rating> 
                          <p class="date-comment">{{data.dateComent | date}}</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon><span class="material-icons">delete</span></mat-icon>
                          <span>Eliminar</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>
                            <span class="material-icons">edit</span></mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item disabled>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Span</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                  <div>
                    <p class="comment">
                      {{data.comment}}
                    </p>
                  </div>
                </div>
                <div class="text-center" *ngIf="_trans.car.valoration.length==0">
                  <span class="material-icons">contact_support</span> 
                  Se el primero en calificar el servicio de transporte
                </div>
              </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<app-footer *ngIf="owner"></app-footer>