/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* estilos generales*/
.full-width{
    width: 100%;
    outline: 0;
}
.cursor{
    cursor: pointer;
}
.nolink{
    text-decoration: none;
}
.btn-auth{
    height: 45px;
}
.img-logo{
    width : 70px !important;
    height: 85px !important;
}
.comodin{
    margin-top: 60px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #c9c8c8;
}
.mat-form-field-outline{
    height: 47px;
}
.btn-c{
    color: rgb(230, 30, 30);
}
.btn-b-g{
    color: #FFF;
    background:linear-gradient(to right,#e43434,#f56036);
}
.badge-e, .badge-s, .badge-b{
    height       : 18px;
    width        : 100%;
    padding      : 1px;
    padding-left : 8px;
    padding-right: 8px;
    border-radius: 20px;
    color        : #FFF;
    font-size    : 13px;
}
.m-tab-icon {
    margin-right: 8px;
}
.img-port{
    background-size: cover;
    height: 500px;
}
.c-icon{
    color: rgb(99, 98, 98);
}
.c-icon-w{
    color: rgb(255, 255, 255);
}
.button-desactivate{
    background: rgb(231, 8, 8) !important;
}
.button-activate{
    background: rgb(8, 104, 96) !important;
}
.badge-s{
    background   : linear-gradient(to right, rgb(71, 180, 139), rgb(2, 121, 52));
}
.badge-e{
    background   : linear-gradient(to right, rgb(211, 100, 100), rgb(179, 3, 18));
}
.badge-b{
    background   : linear-gradient(to right, rgb(54, 167, 219),rgba(0, 33, 94, 0.74));
}
.description{
    font-family: 'K2D', sans-serif;
}
/* custom-input-file */
.letterFile{
    background:gray;
    height:44px;
    width:164px;
    z-index: 10;
    margin-top: -44px;
    position: absolute;
    border-radius: 3px 0px 0px 3px;
}
.custom-input-file p{
    color:#FFF;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
}
.contenFoto{
    display:flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-preview{
    color: rgb(54, 54, 54);
    background-color: #fc7d5a;
background-image: linear-gradient(180deg, #fc7d5a 0%, #F7CE68 100%);

}
.img-user-profile{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* custom file upload button */
.upload-btn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3px;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: gray;
    background-color: white;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.upload-btn-wrapper input[type=file]{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}
.dialog-container .mat-dialog-container {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}
.card-main{
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.comment-container{
    padding: 0;
    margin: 0;
    background: #F7CE68;
    width: 500px;
}
.container-comment .mat-dialog-container {
    background: #f3f3f3;
}
.alert{
    color: #FFF;
    background-image: linear-gradient(90deg, #ff8c54 0%, #F7CE68 100%);
}